<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> | Ryan Madden |</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <span class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-link">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item nav-link">
                     @Html.ActionLink("Resume", "Resume", "Home")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Projects", "Projects", "Home")
                </li>
            </ul>
        </span>
    </nav>


    <div class="container body-content">
        <img id="bg" src="~/Content/img/bg.jpg" />
        @RenderBody()
        <hr />
       
            <div class="container-fluid">
                <div class="foot">
                    <a href="https://www.github.com" target="_blank"><img src="~/Content/img/git_good.png" width="30" height="30" alt=""></a>
                    <a href="https://www.linkedin.com" target="_blank"><img src="~/Content/img/link_good.png" width="30" height="30" alt=""></a>
                </div>
            </div>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
